* {
    box-sizing: border-box;
}

header {
    background: #333;
    color: white;
    padding: 10px;
    fill: top;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.columns {
    float: left;
    width: 33.33%;
    padding: 50px;
    height: 400px;
    border-style: solid;
    background-color: grey;
}

.columnRow {
    float: left;
    width: 33.33%;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    text-align: center;
}

button {
    background-color: green;
    border: none;
    color: white;
    padding: 15px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
}

span {
    font-size: 25px;
}

.row {
    border-style: solid;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and (max-width: 600px) {
    .columns {
        width: 100%;
    }

    .columnRow {
        width: 100%
    }
    
}